body * {
    font-family: 'Syne', sans-serif;
 }

 .li.menu-item a {
    color: #323232;
    display: inline-block;
    background-color: #fff;
    text-align: center;
 }

 .li.menu-item a:last child {
    color: #fff;
    display: inline-block;
    background-color: #DC9F96;
    text-align: center;
}
